.u-section-1 .u-sheet-1 {
  min-height: 615px;
}

.u-section-1 .u-slider-1 {
  min-height: 478px;
  height: auto;
  margin-top: 69px;
  margin-bottom: 60px;
}

.u-section-1 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-1 .u-image-1 {
  background-image: url("images/7.png");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-1 .u-image-2 {
  background-image: url("images/2.png");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-2 {
  padding: 23px 60px;
}

.u-section-1 .u-image-3 {
  background-image: url("images/3.png");
  margin: 20px auto 0 0;
}

.u-section-1 .u-container-layout-3 {
  padding: 0;
}

.u-section-1 .u-carousel-item-4 {
  margin: 20px 50px 0 auto;
}

.u-section-1 .u-container-layout-4 {
  padding: 0;
}

.u-section-1 .u-image-4 {
  height: auto;
  margin-top: -151px;
  margin-bottom: -151px;
}

.u-section-1 .u-carousel-item-5 {
  margin-left: auto;
  margin-right: 41px;
  margin-top: 20px;
}

.u-section-1 .u-container-layout-5 {
  padding: 0;
}

.u-section-1 .u-image-5 {
  height: auto;
  margin-top: -101px;
  margin-bottom: -201px;
}

.u-section-1 .u-carousel-control-1 {
  width: 38px;
  height: 38px;
  left: -58px;
  position: absolute;
  background-image: none;
  right: auto;
  padding: 10px;
}

.u-section-1 .u-carousel-control-2 {
  width: 38px;
  height: 38px;
  left: auto;
  position: absolute;
  background-image: none;
  right: -58px;
  padding: 10px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-container-layout-2 {
    padding-left: 49px;
    padding-right: 49px;
  }

  .u-section-1 .u-image-3 {
    background-position: 50% 50%;
  }

  .u-section-1 .u-image-4 {
    margin-bottom: -18px;
    height: NaNpx;
  }

  .u-section-1 .u-image-5 {
    margin-bottom: -67px;
    height: NaNpx;
  }

  .u-section-1 .u-carousel-control-1 {
    left: 19px;
    top: 224px;
  }

  .u-section-1 .u-carousel-control-2 {
    right: 19px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 499px;
  }

  .u-section-1 .u-slider-1 {
    min-height: 430px;
    margin-bottom: 1px;
  }

  .u-section-1 .u-carousel-indicators-1 {
    top: auto;
    bottom: 54px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-image-4 {
    margin-bottom: 0;
  }

  .u-section-1 .u-image-5 {
    margin-bottom: 0;
  }

  .u-section-1 .u-carousel-control-1 {
    top: 193px;
  }

  .u-section-1 .u-carousel-control-2 {
    top: 193px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 354px;
  }

  .u-section-1 .u-slider-1 {
    min-height: 285px;
  }

  .u-section-1 .u-carousel-indicators-1 {
    bottom: 25px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-carousel-control-1 {
    left: 12px;
    top: auto;
    bottom: 11px;
  }

  .u-section-1 .u-carousel-control-2 {
    top: auto;
    right: 25px;
    bottom: 11px;
  }
} .u-section-2 {
  min-height: 606px;
}

.u-section-2 .u-image-1 {
  width: 1532px;
  height: 605px;
  margin: 1px auto;
}

@media (max-width: 1199px) {
   .u-section-2 {
    min-height: 372px;
  }

  .u-section-2 .u-image-1 {
    width: 940px;
    height: 371px;
  }
}

@media (max-width: 991px) {
   .u-section-2 {
    min-height: 315px;
  }

  .u-section-2 .u-image-1 {
    width: 720px;
    height: 284px;
    margin-top: 30px;
  }
}

@media (max-width: 767px) {
   .u-section-2 {
    min-height: 214px;
  }

  .u-section-2 .u-image-1 {
    width: 540px;
    height: 213px;
  }
}

@media (max-width: 575px) {
   .u-section-2 {
    min-height: 135px;
  }

  .u-section-2 .u-image-1 {
    width: 340px;
    height: 134px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-3 .u-list-1 {
  margin-bottom: 60px;
  margin-top: 86px;
}

.u-section-3 .u-repeater-1 {
  grid-gap: 10px 10px;
  grid-auto-columns: 100%;
  grid-template-columns: 100%;
  min-height: 762px;
}

.u-section-3 .u-image-1 {
  background-image: url("images/image11.png");
}

.u-section-3 .u-container-layout-1 {
  padding: 10px;
}

.u-section-3 .u-text-1 {
  font-weight: 800;
  font-size: 2.25rem;
  text-transform: uppercase;
  line-height: 1.6;
  margin: 149px auto 0 53px;
}

.u-section-3 .u-text-2 {
  font-size: 2.25rem;
  font-weight: 500;
  line-height: 1.6;
  margin: -15px auto 0 53px;
}

.u-section-3 .u-btn-1 {
  font-size: 1.125rem;
  border-style: none;
  background-image: none;
  font-weight: normal;
  margin: 0 auto 0 53px;
  padding: 12px 33px;
}

.u-section-3 .u-image-2 {
  background-image: url("images/image12.png");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-2 {
  padding: 10px;
}

.u-section-3 .u-text-3 {
  font-weight: 800;
  font-size: 2.25rem;
  text-transform: uppercase;
  line-height: 1.6;
  margin: 149px auto 0 53px;
}

.u-section-3 .u-text-4 {
  font-size: 2.25rem;
  font-weight: 500;
  line-height: 1.6;
  margin: -15px auto 0 53px;
}

.u-section-3 .u-btn-2 {
  font-size: 1.125rem;
  border-style: none;
  background-image: none;
  font-weight: normal;
  margin: 0 auto 0 53px;
  padding: 12px 33px;
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 547px;
  }

  .u-section-3 .u-list-1 {
    margin-bottom: 36px;
    margin-top: 36px;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 475px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-bottom: 0;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.875rem;
    width: auto;
    margin-top: 98px;
  }

  .u-section-3 .u-text-2 {
    font-size: 1.5rem;
    width: auto;
    margin-top: 0;
  }

  .u-section-3 .u-container-layout-2 {
    padding-bottom: 0;
  }

  .u-section-3 .u-text-3 {
    font-size: 1.875rem;
    width: auto;
    margin-top: 98px;
  }

  .u-section-3 .u-text-4 {
    font-size: 1.5rem;
    width: auto;
    margin-top: 0;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 492px;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 420px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.5rem;
    line-height: 1;
    margin-top: 84px;
    margin-left: 42px;
    margin-right: 42px;
  }

  .u-section-3 .u-text-2 {
    font-size: 1.25rem;
    margin-left: 42px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-3 .u-text-3 {
    font-size: 1.5rem;
    line-height: 1;
    margin-top: 84px;
    margin-left: 42px;
    margin-right: 42px;
  }

  .u-section-3 .u-text-4 {
    font-size: 1.25rem;
    margin-left: 42px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 423px;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 351px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.25rem;
    margin-top: 55px;
    margin-right: 61px;
  }

  .u-section-3 .u-text-2 {
    font-size: 1.125rem;
    line-height: 1;
    margin-top: 12px;
    margin-right: 81px;
  }

  .u-section-3 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-3 .u-text-3 {
    font-size: 1.25rem;
    margin-top: 55px;
    margin-right: 61px;
  }

  .u-section-3 .u-text-4 {
    font-size: 1.125rem;
    line-height: 1;
    margin-top: 12px;
    margin-right: 81px;
  }

  .u-section-3 .u-btn-2 {
    margin-left: 0;
  }
}