 .u-section-1 {
  background-image: url("images/image10.png");
  background-position: 50% 0%;
}

.u-section-1 .u-sheet-1 {
  min-height: 229px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 164px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 136px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 113px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 87px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 585px;
}

.u-section-2 .u-map-1 {
  width: 673px;
  height: 471px;
  margin: 57px auto 0 -103px;
}

.u-section-2 .u-text-1 {
  font-family: Inter;
  font-weight: 600;
  margin: -471px 0 0 auto;
}

.u-section-2 .u-text-2 {
  font-family: Inter;
  font-size: 1.5rem;
  font-weight: 500;
  margin: 13px -42px 0 601px;
}

.u-section-2 .u-text-3 {
  font-family: Inter;
  font-size: 1.5rem;
  font-weight: 700;
  margin: 31px 199px 0 601px;
}

.u-section-2 .u-btn-1 {
  border-style: none;
  text-transform: uppercase;
  font-size: 0.875rem;
  background-image: none;
  margin: 31px 311px 60px auto;
  padding: 3px 52px 4px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-2 {
    margin-left: 501px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 99px;
    margin-left: 501px;
  }

  .u-section-2 .u-btn-1 {
    margin-right: 111px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-2 {
    margin-left: 391px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 0;
    margin-left: 391px;
  }

  .u-section-2 .u-btn-1 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-map-1 {
    width: 540px;
    margin-left: 0;
  }

  .u-section-2 .u-text-2 {
    margin-left: 301px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 301px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-map-1 {
    width: 340px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 201px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 201px;
  }
}